# 项目配置信息
app:
  app_name: LumenIM
  debug: false
  juhe_key: "836a9c3fxxxd902fbc5"

# 日志配置
log:
  # 日志文件路径 *请使用绝对路径*
  dir: "/path/to/.../runtime"

# Redis 相关配置
redis:
  host: 127.0.0.1
  port: 6379
  auth: xxxxx
  database: 0

# Mysql 数据库配置
mysql:
  host: 127.0.0.1
  port: 3306
  charset: utf8mb4
  username: root
  password: xxxx
  database: go_chat
  collation: utf8_unicode_ci

# Jwt 配置
jwt:
  secret: 836c3fea9bba4e04d51bd0fbcc5
  expires_time: 3600
  buffer_time: 3600

# 跨域配置
cors:
  origin: "*"
  headers: "Content-Type,Cache-Control,User-Agent,Keep-Alive,DNT,AccessToken,Authorization"
  methods: "OPTIONS,GET,POST,PUT,DELETE"
  credentials: false
  max_age: 600

# 文件系统配置【oss,qiniu 暂不支持】
filesystem:
  default: local
  local:
    root:
    domain:
  oss:
    access_id:
    access_secret:
    bucket:
    endpoint:
    security_token:
  qiniu:
    access_key:
    secret_key:
    bucket:
    domain:
  cos:
    secret_id: ""
    secret_key: ""
    bucket: "im-xxx"
    region: "ap-shanghai"

# 邮件配置
email:
  host: smtp.163.com
  port: 465
  username: xxxxx
  password: xxxxx
  fromname: "Lumen IM 在线聊天"